{{message}}
<div class="box-size-100">
	<form class="box-size-100 box-form">
		<label class="box-size-25 padding-none margin-top margin-bottom">
			<span>Código</span>
			<input type="text">
		</label>
		<label class="box-size-75 padding-none margin-top margin-bottom">
			<span>Título</span>
			<input type="text">
		</label>			
		<label class="box-size-100 padding-none margin-top margin-bottom">
			<span>Descrição</span>
			<textarea rows="10"></textarea>
		</label>
		<label class="box-size-100 padding-none margin-top margin-bottom">
			<span>Categoria</span>
			<input type="text">
		</label>	
		<label class="box-size-50 padding-none margin-top margin-bottom">
			<span>Fabricante</span>
			<input type="text">
		</label>
		<label class="box-size-50 padding-none margin-top margin-bottom">
			<span>Marca</span>
			<input type="text">
		</label>
		<label class="box-size-50 padding-none margin-top margin-bottom">
			<span>Valor</span>
			<input type="text">
		</label>
		<label class="box-size-50 padding-none margin-top margin-bottom">
			<span>Quantidade</span>
			<input type="text">
		</label>
		<label class="box-size-25 padding-none margin-top margin-bottom">
			<span>Peso</span>
			<input type="text">
		</label>
		<label class="box-size-25 padding-none margin-top margin-bottom">
			<span>Largura</span>
			<input type="text">
		</label>
		<label class="box-size-25 padding-none margin-top margin-bottom">
			<span>Altura</span>
			<input type="text">
		</label>	
		<label class="box-size-25 padding-none margin-top margin-bottom">
			<span>Profundidade</span>
			<input type="text">
		</label>
		<div class="box-size-25 float-right padding-left-none padding-right-none">
			<a href="#" class="btn btn-success">Salvar</a>
		</div>

	</form>
</div>