{{message}}
<div class="box-size-100 box-dashboard">
	<div class="box-size-25 box-info">
		<h1 class="title title-notice">Usuários online agora</h1>
		<div class="box-size-100 margin-none padding none">
			<b>Agora: </b> 38
		</div>
		<div class="box-full-width padding-none margin-none">
			<a href="#" class="btn btn-info">Visualizar</a>
		</div>
	</div>
	<div class="box-size-25 box-info">
		<h1 class="title title-success">Usuários online na semana</h1>
		<div class="box-size-100 margin-none">
			<b>Na semana: </b> 380
		</div>
		<div class="box-full-width padding-none margin-none">
			<a href="#" class="btn btn-success">Páginas mais visitadas</a>
		</div>
	</div>
	<div class="box-size-25 box-info">
		<h1 class="title title-alert">Usuários online no mês</h1>
		<div class="box-size-100 margin-none">
			<b>No mês: </b> 1280
		</div>
		<div class="box-full-width padding-none margin-none">
			<a href="#" class="btn btn-alert">Páginas mais visitadas</a>
		</div>
	</div>
	<div class="box-size-25 box-info">
		<h1 class="title title-danger">Usuários online no ano</h1>
		<div class="box-size-100 margin-none">
			<b>No ano: </b> 32000
		</div>
		<div class="box-full-width padding-none margin-none">
			<a href="#" class="btn btn-danger">Páginas mais visitadas</a>
		</div>
	</div>
</div>