{{message}}
<div class="content">
	<div class="box-size-100">
		<div class="box-size-25 box-prod padding-top-none padding-left-none padding-right-none">
			<div class="box-full-width box-prod-header box-prod-info">
				<h1 class="title">Produto 1</h1>
				<p class="box-full-width box-category">
					<span >cat:</span> eletrônicos
				</p>
				<p class="box-full-width box-tag">
					<span>Em promoção</span>
				</p>		
			</div>
			<div class="box-size-100 padding-none box-prod-content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat fuga, error fugit maiores totam necessitatibus eaque expedita, enim eum nesciunt.</p>
			</div>
			<div class="box-full-width box-data">
				<span>Data cadastro: </span> 05/06/2016
			</div>
			<div class="box-full-width box-data">
				<span>Valor: R$</span>  1029,90
			</div>
			<div class="box-full-width box-data">
				<span>Valor promocional: R$</span> 899,90
			</div>
			<div class="box-size-100 padding-none box-control">
				<a href="#" class="btn btn-success">Editar</a>
				<a href="#" class="btn btn-danger">Deletar</a>
			</div>
		</div>
		<div class="box-size-25 box-prod padding-top-none padding-left-none padding-right-none">
			<div class="box-full-width box-prod-header box-prod-success">
				<h1 class="title">Produto 2</h1>
				<p class="box-full-width box-category">
					<span >cat:</span> eletrônicos
				</p>
				<p class="box-full-width box-tag">
					<span>Em promoção</span>
				</p>		
			</div>
			<div class="box-size-100 padding-none box-prod-content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat fuga, error fugit maiores totam necessitatibus eaque expedita, enim eum nesciunt.</p>
			</div>
			<div class="box-full-width box-data">
				<span>Data cadastro: </span> 05/06/2016
			</div>
			<div class="box-full-width box-data">
				<span>Valor: R$</span>  1029,90
			</div>
			<div class="box-full-width box-data">
				<span>Valor promocional: R$</span> 899,90
			</div>
			<div class="box-size-100 padding-none box-control">
				<a href="#" class="btn btn-success">Editar</a>
				<a href="#" class="btn btn-danger">Deletar</a>
			</div>
		</div>
		<div class="box-size-25 box-prod padding-top-none padding-left-none padding-right-none">
			<div class="box-full-width box-prod-header box-prod-alert">
				<h1 class="title">Produto 3</h1>
				<p class="box-full-width box-category">
					<span >cat:</span> eletrônicos
				</p>
				<p class="box-full-width box-tag">
					<span>Em promoção</span>
				</p>		
			</div>
			<div class="box-size-100 padding-none box-prod-content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat fuga, error fugit maiores totam necessitatibus eaque expedita, enim eum nesciunt.</p>
			</div>
			<div class="box-full-width box-data">
				<span>Data cadastro: </span> 05/06/2016
			</div>
			<div class="box-full-width box-data">
				<span>Valor: R$</span>  1029,90
			</div>
			<div class="box-full-width box-data">
				<span>Valor promocional: R$</span> 899,90
			</div>
			<div class="box-size-100 padding-none box-control">
				<a href="#" class="btn btn-success">Editar</a>
				<a href="#" class="btn btn-danger">Deletar</a>
			</div>
		</div>
		<div class="box-size-25 box-prod padding-top-none padding-left-none padding-right-none">
			<div class="box-full-width box-prod-header box-prod-danger">
				<h1 class="title">Produto 4</h1>
				<p class="box-full-width box-category">
					<span >cat:</span> eletrônicos
				</p>
				<p class="box-full-width box-tag">
					<span>Em promoção</span>
				</p>		
			</div>
			<div class="box-size-100 padding-none box-prod-content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat fuga, error fugit maiores totam necessitatibus eaque expedita, enim eum nesciunt.</p>
			</div>
			<div class="box-full-width box-data">
				<span>Data cadastro: </span> 05/06/2016
			</div>
			<div class="box-full-width box-data">
				<span>Valor: R$</span>  1029,90
			</div>
			<div class="box-full-width box-data">
				<span>Valor promocional: R$</span> 899,90
			</div>
			<div class="box-size-100 padding-none box-control">
				<a href="#" class="btn btn-success">Editar</a>
				<a href="#" class="btn btn-danger">Deletar</a>
			</div>
		</div>
		
		<div class="box-size-25 box-prod padding-top-none padding-left-none padding-right-none">
			<div class="box-full-width box-prod-header box-prod-alert">
				<h1 class="title">Produto 5</h1>
				<p class="box-full-width box-category">
					<span >cat:</span> eletrônicos
				</p>
				<p class="box-full-width box-tag">
					<span>Em promoção</span>
				</p>		
			</div>
			<div class="box-size-100 padding-none box-prod-content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat fuga, error fugit maiores totam necessitatibus eaque expedita, enim eum nesciunt.</p>
			</div>
			<div class="box-full-width box-data">
				<span>Data cadastro: </span> 05/06/2016
			</div>
			<div class="box-full-width box-data">
				<span>Valor: R$</span>  1029,90
			</div>
			<div class="box-full-width box-data">
				<span>Valor promocional: R$</span> 899,90
			</div>
			<div class="box-size-100 padding-none box-control">
				<a href="#" class="btn btn-success">Editar</a>
				<a href="#" class="btn btn-danger">Deletar</a>
			</div>
		</div>
		<div class="box-size-25 box-prod padding-top-none padding-left-none padding-right-none">
			<div class="box-full-width box-prod-header box-prod-danger">
				<h1 class="title">Produto 6</h1>
				<p class="box-full-width box-category">
					<span >cat:</span> eletrônicos
				</p>
				<p class="box-full-width box-tag">
					<span>Em promoção</span>
				</p>		
			</div>
			<div class="box-size-100 padding-none box-prod-content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat fuga, error fugit maiores totam necessitatibus eaque expedita, enim eum nesciunt.</p>
			</div>
			<div class="box-full-width box-data">
				<span>Data cadastro: </span> 05/06/2016
			</div>
			<div class="box-full-width box-data">
				<span>Valor: R$</span>  1029,90
			</div>
			<div class="box-full-width box-data">
				<span>Valor promocional: R$</span> 899,90
			</div>
			<div class="box-size-100 padding-none box-control">
				<a href="#" class="btn btn-success">Editar</a>
				<a href="#" class="btn btn-danger">Deletar</a>
			</div>
		</div>
		<div class="box-size-25 box-prod padding-top-none padding-left-none padding-right-none">
			<div class="box-full-width box-prod-header box-prod-info">
				<h1 class="title">Produto 7</h1>
				<p class="box-full-width box-category">
					<span >cat:</span> eletrônicos
				</p>
				<p class="box-full-width box-tag">
					<span>Em promoção</span>
				</p>		
			</div>
			<div class="box-size-100 padding-none box-prod-content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat fuga, error fugit maiores totam necessitatibus eaque expedita, enim eum nesciunt.</p>
			</div>
			<div class="box-full-width box-data">
				<span>Data cadastro: </span> 05/06/2016
			</div>
			<div class="box-full-width box-data">
				<span>Valor: R$</span>  1029,90
			</div>
			<div class="box-full-width box-data">
				<span>Valor promocional: R$</span> 899,90
			</div>
			<div class="box-size-100 padding-none box-control">
				<a href="#" class="btn btn-success">Editar</a>
				<a href="#" class="btn btn-danger">Deletar</a>
			</div>
		</div>
		<div class="box-size-25 box-prod padding-top-none padding-left-none padding-right-none">
			<div class="box-full-width box-prod-header box-prod-success">
				<h1 class="title">Produto 8</h1>
				<p class="box-full-width box-category">
					<span >cat:</span> eletrônicos
				</p>
				<p class="box-full-width box-tag">
					<span>Em promoção</span>
				</p>		
			</div>
			<div class="box-size-100 padding-none box-prod-content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat fuga, error fugit maiores totam necessitatibus eaque expedita, enim eum nesciunt.</p>
			</div>
			<div class="box-full-width box-data">
				<span>Data cadastro: </span> 05/06/2016
			</div>
			<div class="box-full-width box-data">
				<span>Valor: R$</span>  1029,90
			</div>
			<div class="box-full-width box-data">
				<span>Valor promocional: R$</span> 899,90
			</div>
			<div class="box-size-100 padding-none box-control">
				<a href="#" class="btn btn-success">Editar</a>
				<a href="#" class="btn btn-danger">Deletar</a>
			</div>
		</div>
	</div>
</div>